<h2 align="center" class="text">Teams</h2>

<% while !@leagues.empty? %>
  <div class="row">
    <div class="small-1 large-2 columns"></div>
    <% 2.times do %>
      <div class="small-5 large-4 columns" align="center">
        <% if !@leagues.empty? %>
          <% league = @leagues[0] %>
          <% @leagues = @leagues[1,(@leagues.length-1)] %>
          <div class="league">
            <h3 align="center"><%= league.name %></h3>
            <% @teams.where(league_id: league.id).each do |team| %>
              <span align="center">
                <%= link_to team.name, team_path(team.id) %>
              </span><br />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="small-1 large-2 columns"><p></p></div>
  </div>
<% end %>
